.adminBody {
  position: relative;
  min-height: 100vh;
  width: 100vw;
  background-color: aliceblue;
  display: grid;
  grid-template-columns: 8vw 92vw;
}
.adminBody .toolbar {
  position: relative;
  width: 8vw;
  background-color: rgb(137, 136, 138);
  display: grid;
  padding-top: 15px;
  grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px 50px;
  align-items: center;
  justify-items: center;
  grid-gap: 30px;
}
.toolbar .icon {
  width: 4rem;
  height: 4rem;
}

.toolbar .item .tooltiptext {
  position: absolute;
  visibility: hidden;
  width: 100%;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  cursor: pointer;
  margin-top: 12px;

  /* Position the tooltip */
  position: absolute;
  right: 1px;
  z-index: 1;
}
.item:hover {
  background-color: rgb(85, 84, 84);
}

.item:hover .tooltiptext {
  visibility: visible;
}
.nontooltiptext {
  position: absolute;
  visibility: visible;
  width: 100%;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  cursor: pointer;
  margin-top: 12px;

  /* Position the tooltip */
  position: absolute;
  right: 1px;
  z-index: 1;
}
